body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* image styling */
.person-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Custom styles for the layout */
.main .row {
    align-items: center;
}

.main .col-md-4 {
    text-align: right;
}

.first-project:hover,
.second-project:hover,
.coming-project:hover {
    background-color:rgba(128, 255, 0, 0.493);
    color:blue;
}

/* sections hovering*/
.about:hover,
.work:hover,
.contact:hover {
    background-color:rgba(128, 255, 0, 0.493);
    color:blue;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.first-project-demo{
    width: 520px; /* Set the width and height according to your design */
    height: 500px;
    background-image: url('https://github.com/naturuplift/ArnaldoPortfolio/blob/de8a08be06c4840f9a726f97ddb3cc868250a008/assets/images/search-sample.jpg');
    background-size: cover; /* This property scales the image to cover the container */
    background-position: center; /* Center the image within the container */
    display: block; /* Ensure the anchor tag behaves as a block element */
}

.second-project-demo{
    width: 520px; /* Set the width and height according to your design */
    height: 500px;
    background-image: url('https://github.com/naturuplift/ArnaldoPortfolio/blob/de8a08be06c4840f9a726f97ddb3cc868250a008/assets/images/NoteMindAI%20writing.png');
    background-size: cover; /* This property scales the image to cover the container */
    background-position: center; /* Center the image within the container */
    display: block; /* Ensure the anchor tag behaves as a block element */
}

.coming-project {
    display: flex;
    flex: 1 0 100%;
    border: 3px solid blue;
    background-image: url(https://images.unsplash.com/photo-1509463536615-1ca163bcfb3f?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600);
    background-size:300px;
    background-repeat: no-repeat;
    background-position-x: right;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    height: 150px;
    flex-direction:row;
    margin-bottom: 1.5rem;
}
