/* body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: rgba(223, 215, 138, 0.322);
    box-sizing: border-box;
}

/* header styling */
header {
    display: flex;
    justify-content: center;
    background-color: rgba(193, 211, 223, 0.473);
    color: #fff;
    padding: 1em 0;
    border: 3px solid black;
}

/* section styling */
section {
    padding: 40px;
}

/* navigation styling */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
}

/* reset margins */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* image styling */
.person-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* person name styling */
.person {
    font-size: 2em;
    color: black;
}

.column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.row {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

/* projects styling */
.first-project {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: black
    outline: 2px dashed #e0eae4;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
}

.second-project,
.third-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: black;
    outline: 2px dashed #e0eae4;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
}

/* sections heading*/
.about h2,
.work h2,
.contact h2 {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* sections margin*/
.about,
.work,
.contact {
    margin-bottom: 30px;
}

/* sections hovering*/
.about:hover,
.work:hover,
.contact:hover,
.column:hover,
.row:hover {
    border-color:chartreuse;
    color:blue;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

